@model IEnumerable<GestionPlaneacionDidacticaWEB.AlterMod.extended_eva_planeacion_enseñanza>

@{
    ViewData["Title"] = "FicViPlaneacionEnseñanzaList";
}

<h2>FicViPlaneacionEnseñanzaList</h2>

<script type="text/javascript">
    var idA = 1;
</script>

<br />
<br />
<hr />
<div class="row">  
    <b>
        @Html.DisplayNameFor(model => model.IdPlaneacion):</b>
    @foreach (var item in Model)
    {@Html.DisplayFor(model => item.IdPlaneacion)}
</div>
<div class="row">
    <b>@Html.DisplayNameFor(model => model.IdAsignatura):</b>
    @foreach (var item in Model)
    {@Html.DisplayFor(model => item.DesAsignatura)}
</div>
<div class="row">
    <b>@Html.DisplayNameFor(model => model.IdTema):</b>
    @foreach (var item in Model)
    {@Html.DisplayFor(model => item.DesTema)}
</div>
<div class="row">
    <b>@Html.DisplayNameFor(model => model.IdCompetencia):</b>
    @foreach (var item in Model)
    {@Html.DisplayFor(model => item.DesCompetencia)}
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Actividad Enseñanza
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaProgramada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRealizada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DropDownList("AE", null, null, htmlAttributes: new { @class = "form-control" })
            </td>

            <td>
                <div class="form-group">
                    <input asp-for="@item.FechaProgramada" class="form-control" />
                    <span asp-validation-for="@item.FechaProgramada" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input asp-for="@item.FechaRealizada" class="form-control" />
                    <span asp-validation-for="@item.FechaRealizada" class="text-danger"></span>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>

            <td>
                <!--Html.ActionLink("EditTest", "FicViPlaneacionEnseñanzaUpdate", new { IdAsignatura = item.IdAsignatura, IdPlaneacion = item.IdPlaneacion, IdTema = item.IdTema, IdCompetencia = item.IdCompetencia, IdActividadEnseñanza = item.IdActividadEnseñanza })
                Html.ActionLink("DetailsTest", "FicViPlaneacionEnseñanzaDetail", new { IdAsignatura = item.IdAsignatura, IdPlaneacion = item.IdPlaneacion, IdTema = item.IdTema, IdCompetencia = item.IdCompetencia, IdActividadEnseñanza = item.IdActividadEnseñanza }) -->
                <!--Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })-->
                
                @Html.ActionLink("Crear", "FicViPlaneacionEnseñanzaCreate", new {
               @IdAsignatura = item.IdAsignatura,
               @IdPlaneacion = item.IdPlaneacion,
               @IdTema = item.IdTema,
               @IdCompetencia = item.IdCompetencia,
               @FechaProgramada=item.FechaProgramada,
               @DesAsignatura=item.DesAsignatura,
               @Borrado =item.Borrado,
               @Activo = item.Activo,
               @IdActividadEnseñanza = 1,
               @ReferenciaNorma = item.ReferenciaNorma,
               @UsuarioMod=item.UsuarioMod,
               @UsuarioReg = item.UsuarioReg,
               @DesCompetencia = item.DesCompetencia,
               @DesTema=item.DesTema
           },
           new { onclick = "return alert('Exito al crear');" })
            </td>
        </tr>
        }
    </tbody>
</table>


