@model GestionPlaneacionDidacticaWEB.Models.eva_planeacion_temas

@{
    ViewData["Title"] = "FicViTemasDetail";
}

<h2>Maestro: Ernesto González Arellano</h2>
<h2>Materia: Desarrollo de aplicaciones empresariales</h2>
<h2>
    Planeacion: @Html.DisplayFor(model => model.IdPlaneacion)
</h2>

<h2>Detalles del tema</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesTema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesTema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaUltMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaUltMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "FicViTemasEdit", Model ) |
    <a asp-action="FicViTemasList">Back to List</a>
</div>
