@model IEnumerable<GestionPlaneacionDidacticaWEB.Models.eva_planeacion_temas>

    @{
        ViewData["Title"] = "FicViTemasList";

        var idAsignatura = ViewBag.IdPlaneacion;
        var idPlaneacion = ViewBag.IdPlaneacion;
    }

    <h2>Maestro: Ernesto González Arellano</h2>
    <h2>Materia: Desarrollo de aplicaciones empresariales</h2>

    <h2>Temas</h2>

    <p>
        <a asp-action="FicViTemasCreate" asp-route-IdAsignatura=@idAsignatura asp-route-IdPlaneacion=@idPlaneacion>Crear Tema</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DesTema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesTema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.ActionLink("Edit", "FicViTemasEdit", item) |
                    @Html.ActionLink("Details", "FicViTemasDetail", item) |
                    @Html.ActionLink("Delete", "FicViTemasDelete", item, new { onclick = "return confirm('Seguro?');" }) |
                    @Html.ActionLink("Subtemas", "FicViSubtemasList", new { IdPlaneacion = item.IdPlaneacion, IdTema = item.IdTema, IdAsignatura = item.IdAsignatura }) |
                    @Html.ActionLink("Competencias", "FicViCompetenciasList", new { IdAsignatura = item.IdAsignatura, IdPlaneacion = item.IdPlaneacion, IdTema = item.IdTema})
                </td>
            </tr>
}
        </tbody>
    </table>
