@model IEnumerable<GestionPlaneacionDidacticaWEB.Models.eva_planeacion_temas_competencias>

@{
    ViewData["Title"] = "FicViCompetenciasList";
    var idAsignatura = ViewBag.IdPlaneacion;
    var idPlaneacion = ViewBag.IdPlaneacion;
    var idTema = ViewBag.IdTema;
}

<h2>FicViCompetenciasList</h2>

<p>
    <a asp-action="FicViCompetenciasCreate" asp-route-asignatura=@idAsignatura asp-route-planeacion=@idPlaneacion asp-route-tema=@idTema>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.IdAsignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPlaneacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompetencia)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioUltMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlaneacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompetencia)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioUltMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "FicViCompetenciasEdit", new { item.IdAsignatura, item.IdPlaneacion, item.IdTema, item.IdCompetencia}) |
                @Html.ActionLink("Details", "FicViCompetenciasDetail", item) |
                @Html.ActionLink("Delete", "FicViCompetenciasDelete", item, new { onclick = "return confirm('Seguro?');" })
            </td>
        </tr>
}
    </tbody>
</table>
