@model GestionPlaneacionDidacticaWEB.Models.eva_planeacion_fuentes

@{
    ViewData["Title"] = "FicviFuentesDetail";
    var idAsignatura = ViewBag.IdPlaneacion;
    var idPlaneacion = ViewBag.IdPlaneacion;
}

<h2>FicviFuentesDetail</h2>

<div>
    <h4>eva_planeacion_fuentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdAsignatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAsignatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPlaneacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPlaneacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFuente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFuente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaUltMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaUltMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioUltMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioUltMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="FicViFuentesList" asp-route-idPlaneacion="@idPlaneacion" asp-route-IdAsignatura="@idAsignatura">Back to List</a>
</div>
