@model IEnumerable<GestionPlaneacionDidacticaWEB.Models.eva_planeacion_apoyos>

@{
    ViewData["Title"] = "FicViApoyosList";
    var idAsignatura = ViewBag.IdPlaneacion;
    var idPlaneacion = ViewBag.IdPlaneacion;
}


<h2>Maestro: Guillermo Reyes</h2>
<h2>Materia: Desarrollo de aplicaciones empresariales</h2>

<h2>Lista de Apoyos</h2>

<p>
    <a asp-action="Create" asp-route-asignatura=@idAsignatura asp-route-planeacion=@idPlaneacion>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlaneacionApoyos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdApoyoDidactico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPlaneacionApoyos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdApoyoDidactico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.ActionLink("Edit", "FicViApoyosEdit", new { idPlaneacion = (short)item.IdPlaneacion, idAsignatura = item.IdAsignatura, idApoyo = item.IdApoyoDidactico }) |
                    @Html.ActionLink("Details", "FicViApoyosDetail",item) |
                    @Html.ActionLink("Delete", "FicViApoyosDelete", item, new { onclick = "return confirm('¿Seguro?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
