@model IEnumerable<GestionPlaneacionDidacticaWEB.Models.eva_planeacion_apoyos>

@{
    ViewData["Title"] = "FicViApoyosList";
}


<h2>Maestro: Guillermo Reyes</h2>
<h2>Materia: Desarrollo de aplicaciones empresariales</h2>

<h2>FicViApoyosList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlaneacionApoyos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdApoyoDidactico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPlaneacionApoyos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdApoyoDidactico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
