@model IEnumerable<GestionPlaneacionDidacticaWEB.Models.eva_planeacion_subtemas>

@{
    ViewData["Title"] = "FicViSubtemasList";
    var idAsignatura = ViewBag.IdPlaneacion;
    var idPlaneacion = ViewBag.IdPlaneacion;
    var idTema = ViewBag.IdTema;
    var desTema = ViewBag.DesTema;
}

<h3>Maestro: Bryan Gutiérrez</h3>
<h3>Materia: Desarrollo de aplicaciones empresariales</h3>
<h3>Tema: @desTema</h3>

<h2>Lista subtemas </h2>

<p>
    <a asp-action="FicViSubtemasCreate" asp-route-IdPlaneacion="@idPlaneacion" asp-route-IdTema="@idTema" asp-route-IdAsignatura="@idAsignatura" asp-route-DesTema=@desTema>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSubtema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesSubtema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSubtema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DesSubtema)
                </td>
                <td>
                    @Html.ActionLink("Edit", "FicViSubtemasEdit", new { IdPlaneacion = (short)item.IdPlaneacion, IdTema = item.IdTema, IdSubtema = item.IdSubtema, IdAsignatura = item.IdAsignatura, DesTema = desTema }) |
                    @Html.ActionLink("Details", "FicViSubtemasDetail", new { IdPlaneacion = (short)item.IdPlaneacion, IdTema = item.IdTema, IdSubtema = item.IdSubtema, IdAsignatura = item.IdAsignatura, DesTema = desTema }) |
                    @Html.ActionLink("Delete", "FicViSubtemasDelete", item, new { onclick = "return confirm('¿Seguro?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
