@model IEnumerable<GestionPlaneacionDidacticaWEB.Models.eva_planeacion_criterios_evalua>

@{
    ViewData["Title"] = "FicViCriteriosList";
    var idAsignatura = ViewBag.IdPlaneacion;
    var idPlaneacion = ViewBag.IdPlaneacion;
    var idTema = ViewBag.IdTema;
    var idCompetencia = ViewBag.IdCompetencia;
}

<h2>FicViCriteriosList</h2>

<p>
    <a asp-action="FicViCriteriosCreate" asp-route-asignatura=@idAsignatura asp-route-planeacion=@idPlaneacion asp-route-tema=@idTema asp-route-competencia=@idCompetencia>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DesCriterio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.DesCriterio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.IdAsignatura, item.IdPlaneacion, item.IdTema, item.IdCompetencia }) |
                @Html.ActionLink("Details", "Details", item) |
                @Html.ActionLink("Delete", "Delete", item)
            </td>
        </tr>
}
    </tbody>
</table>
